 #newPostModal{
    display: block;
    


}
/*
#newPostModalHeader{

    grid-column: 1/-1;
    grid-row: 1/2;
}

#newPostModalBody{
    grid-column: 1/-1;
    grid-row: 2/9;
}

#newPostModalFooter{
    grid-column: 1/-1;
    grid-row: 9/11;
} */