.fixedHeader{
    display: grid;
    grid-template-columns: repeat(12, [col-start]1fr);

    background-color: antiquewhite;
    width: 1445px;
    height: max-content;
    /*opacity: 0.9;*/
    grid-column-gap: 5px;


}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}
.newPostButton{
    grid-column: 10/span 1;
    grid-row: 1;
}

.searchBox{
    grid-column: 11/span 1;
    grid-row:1;

}


