* {
    margin: 0;
    border: 0;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(12, [col-start]1fr);
    background-color: rgb(154, 184, 46);
    width: 100vw;
    height: max-content;
    /*opacity: 0.9;*/
    grid-column-gap: 5px;
}


.otherStuff {
    grid-column: 11/span 3;
    grid-row: 1/span 1;
}

.box {
    background-color: rgb(88, 129, 27);
    color: #fff;
    padding: 10px;
    font-size: 15px;
}

.newPostButton {
    grid-column: 12/span 1;
    grid-row: 1/span 1;
    justify-self: stretch;
    border-top: 0.1em;
    border-style: solid;
}

.box:hover {
    background-color: rgb(52, 77, 16);
}

.searchBoxx {
    grid-column: 12/span 1;
    grid-row: 1/span 1;
}