.topBanner {
    background-color: unset;
    /*background-image: url("./images/mainPage.jpg");*/
    /*background-size:     cover;*/
    /*background-repeat:   no-repeat;*/
    /*background-position: center center;*/
}

#bannerText {
    border-radius: 20px;
    text-align: center;
    font-family: Lobster, serif;
    font-style: italic;
    color: #373737;
}

#bannerText h1 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-weight: 900;
    font-size: 50px;
}