body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F4F4F4;
 /*  background-image: url("./images/mainPage.jpg");
    background-size:cover;
    background-repeat:   no-repeat;
    background-position: center center; */

;
}
